<h1 class="title">Let's play tetris</h1>
<div class="wrapper" *ngIf="blocks$ | async as blocks" >
  <div *ngFor="let block of blocks" [ngClass]="block"></div>
</div>
<div *ngIf="score$ | async as score">Score: {{ score }}</div>
<div *ngIf="state$ | async as state">
  <button *ngIf="state === GameState.INACTIVE || state === GameState.LOST" (click)="startGame()">Start new game</button>
  <button *ngIf="state === GameState.PAUSED" (click)="resumeGame()">Continue game</button>
  <button *ngIf="state === GameState.ACTIVE || state === GameState.PAUSED" (click)="stopGame()">Stop game</button>
</div>

